
<h1>Game Show</h1>

ID: {{game.id}}
Finish: {{game.finish}}
Started: {{game.started}}

<a href="#/games/{{game.id}}/edit">Edit Game</a>

<h3>Players:</h3>
<ul>
	<li ng-repeat="user in game.users">
		<div>{{user.email}}</div>
	</li>
</ul>

<h3>Questions:</h3>
<ol>
	<li ng-repeat="question in questions">
		<label>Question</label>
		<div>{{question.question}}</div>
		<label>Answer</label>
		<div>{{question.answer}}</div>
		<label>Answer given at</label>
		<div>{{question.createdAt}}</div>
	</li>
</ol>
