
<h2>Sign In</h2>

<p class="error" ng-show="error">{{error}}</p>

<form accept-charset="UTF-8" ng-submit="submitLogin()" class="new_session" id="new_session" method="post">
  <input placeholder="Email" autofocus="autofocus" id="user_email" name="user[email]" type="email" value="" ng-model="email" required="required">

  <input placeholder="Password" autocomplete="off" id="user_password" name="user[password]" type="password" ng-model="password" required="required"></div>

  <input class="qapi-button" name="commit" type="submit" value="Sign In">
  <a class="qapi-button" href="#/sign_up">Sign Up</a>
</form>
