
<p class="error" ng-show="error">{{error}}</p>

<section class="input-with-button">
	<input ng_model="addUserEmail" type="text" placeholder="Email" id="games_user_email" class="games[user_email]"></input>
	<button class="qapi-button" id="addPlayer" ng-click="addPlayer()">Add</button>
</section>

<section class="qapi-section">
	<h3>Players:</h3>
	<ul class="list">
		<li ng-repeat="user in game.users">
			<div>{{user.email}} <a href="" ng-click="removePlayer();">remove</a></div>
		</li>
	</ul>
<section>

<button class="qapi-button" ng-click="startGame()">Start Game</button>
