<h3 class="result">Result: {{numberOfRightQuestions()}} / {{questions.length}} ({{100 * numberOfRightQuestions() / questions.length}}%)</h3>

<div ng-repeat="question in questions" class="result-{{question.isRight}} row">
<div class="row-background"></div>
  <div class="row-question">{{question.question}}</div>
  <div class="row-yanswer">Your Answer: {{question.answer}}</div>
  <div class="row-ranswer">Right Answer: {{question.rightAnswer}}</div>
  <div ng-repeat="other in question.otherUsersAnswers" class="other-user-answers result-{{other.isRight}}">
  	<div class="row-background"></div>
  	<span>{{other.user}}</span>
  	<span>{{other.answer}}</span>
  <div>
</div>